html, body, hr, h1, h2, h3, h4, ul, ol, li, p, a, form, fieldset{
    padding: 0;
    border: 0;
    margin: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
.fond_blanc{
	background-color: white;

}
header{
	position : fixed;
	height : 8%;
	width:100%;
	top: 0;
	z-index:3;
}
header img{
	display: block;
	width : 16%;
	z-index: 1;
	margin : 0 auto;
	max-width: 110px;
}
header .fond_rouge{
	background-color: #D83232;
	width : 100%;
	height : 100%;
	position : absolute;
	top: 0;
	z-index : -1;
}

nav{
	position: fixed;
	height: 16%;
	top : 8%;
	width : 100%;
	padding : 0 1em 0 1em;
	background-color: white;
}

.progress-tracker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3em auto;
  padding: 0;
  list-style: none;
}

.progress-step {
  display: block;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  margin: 0;
  padding: 0;
  min-width: 28px;

}

.progress-step:last-child {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.progress-step:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -10;
  top: 12px;
  bottom: 12px;
  right: -14px;
  width: 100%;
  height: 4px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.progress-step.is-active .progress-title {
  font-weight: 400;
}

.progress-step > a {
  display: block;
}

.progress-marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 20;
  width: 28px;
  height: 28px;
  padding-bottom: 2px;
  color: #fff;
  font-weight: 400;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-transition: background-color, border-color;
  transition: background-color, border-color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.progress-text {
  display: block;
  padding: 0.5em 0.5em;
  overflow: hidden;
  text-overflow: clip;

}
.progress-title{
	font-size: 0.7em;

}
.progress-step a{
  text-decoration: none;
}
.progress-step .progress-marker {
  color: #fff;
  background-color: #A19EA1;
}

.progress-step::after {
  background-color: #A19EA1;
}

.progress-step .progress-text, .progress-step .progress-step > a .progress-text {
  color: #333333;
}

.progress-step.is-active .progress-marker {
  background-color: #A62B2B;
}

.progress-step.is-complete .progress-marker {
  background-color: #D83232;
}

.progress-step.is-complete::after {
  background-color: #D83232;
}

.progress-step:hover .progress-marker {
  background-color: #6B1C1C;
}

.progress-tracker--word-right .progress-text {
  padding-left: 0;
  -webkit-transform: translateX(calc(-100% + 28px));
          transform: translateX(calc(-100% + 28px));
}

.progress-tracker--text .progress-step:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.progress-tracker--text-top .progress-step::after {
  top: auto;
}

.progress-tracker--text-top .progress-text {
  height: 100%;
}

.progress-tracker--text-top .progress-marker {
  bottom: 28px;
}

.progress-tracker--text-inline .progress-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-tracker--text-inline .progress-text {
  position: relative;
  z-index: 30;
  max-width: 70%;
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
}

.progress-tracker--text-inline .progress-title {
  margin: 0;
}


@media (max-width: 399px) {
  .progress-tracker-mobile {
    overflow-x: auto;
  }
  .progress-tracker-mobile .progress-tracker {
    min-width: 200%;
  }
}

  
#surPlace{
	margin-top : 40%;
}

fieldset{
	min-height: 100%;
	display : flex;
	flex-flow: column;
	justify-content : space-around;
	padding : 20px;
	text-align : center;
	margin-top: 30%;
  padding-top: 30%;
}

fieldset:nth-child(even){
	background-color: #E3E0E3;
}
fieldset h2{
	font-family : 'Kaushan Script', cursive;
	
}

.choice{
	display: flex;
	width : 100%;
	flex-flow : row wrap;
	justify-content : space-around;
	margin : 3em auto ;
	
}
.element{
	display: flex;
	flex-flow : column nowrap;
	justify-content: space-between;
	align-items : center;
	
	width : 100px;
	height: auto;
	overflow: hidden;
	margin: 1em;
	background-color : #F0ECDF;
	padding : 1em;
	border-radius : 0.3em;
	box-shadow: 0.2em 0.4em 0.5em #A19EA1;
}
.element i{
	font-size: 5em;
	color : #A62B2B;
}

.element img{
	max-width : 60%;
	height: auto;
}
.sauce .element{
  width : 70px;
}

input[type="submit"]{
	margin : 1em auto 2em auto;
	padding : 0.8em;
	border-radius : 40px;
	background-color: #D83232;
	color : white;
	font-size: 1.5em;
	text-transform: uppercase;
  display: flex;
  justify-content : center;
}

#sandwich .choice .element p{
  font-style: italic;
  font-size: 0.6em;
}
em, #sandwich .choice .element p em{
  font-weight : bolder;
  font-style: normal;
}
