html,
body,
hr,
h1,
h2,
h3,
h4,
ul,
ol,
li,
p,
a,
form,
fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
html{
    overflow-x: hidden;
}

.fond_blanc {
    background-color: white;

}

header {
    position: fixed;
    height: 8%;
    width: 100%;
    top: 0;
    z-index: 6;
}

header img {
    display: block;
    width: 16%;
    z-index: 1000;
    margin: 0 auto;
    max-width: 110px;
}

header .fond_rouge {
    background-color: #D83232;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

nav {
    position: fixed;
    height: 16px;
    top: 9%;
    width: 100%;
    padding: 0 1em 0 1em;
    z-index: 4;
}

#progressBar {
    width: 5%;
}



fieldset {
    margin-top: 30%;
}



.element {
    border: 0.5px solid #A19EA1;
    background-color: white;
    border-radius: 0.3em;
    box-shadow: 0.2em 0.4em 0.5em #A19EA1;
    width: 100%;
}

.espacement {
    margin-top: 25px;
}

.petit{
    min-height: 70px;
}
.moyen {
    min-height: 110px;
}
.grand{
    min-height: 170px;
}
#menus {
    display: none;
}

#sandwich {
    display: none;
}

#ingredients {
    display: none;
}

#envoiRecap {
    display: none;
}
#finalisation {
    display: none;
}

#typeSauce {
    display: none;
}
#typePain {
    display: none;
}
#typeGarniture {
    display: none;
}
table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin: 25px 0 25px 0;
    border: 1px #007bff solid;
    border-radius: 0.25em;
}

#erreur {
    display: none;
    margin-top: 25%;
}
#supplement1 {
    display: none;
}
#supplement2 {
    display: none;
}
#btnReset {
    display: none;
}

fieldset img {
    padding: 0 5px 0 5px;
}

.buttonMep {
    background-color: white;
    border: none;
    width: 100%;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}
.entete{
    background-color: #D83232;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}